{% extends 'base.html.twig' %}
{% block main %}
    {% for i in 0..10 %}
        <div class="{{ cycle(['odd', 'even'], i) }}">

            sssssssssssssss
        </div>
    {% endfor %}
{% endblock %}

{% block title %} raaaaaaaaaaaa {% endblock %}